<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div class="error-template">
              <h1>
                  Oops!</h1>
              <h2>
                  Erro 404</h2>
              <div class="error-details">
                  Desculpe, essa pagina não existe.
              </div>
              <div class="error-actions">
                  <a href="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                      Voltar ao Ínicio </a>
              </div>
          </div>
      </div>
  </div>
</div>
