<app-top-page title="Estoque"></app-top-page>
<div class="col">
  <h5>Cadastros</h5>
  <ul class="nav flex-column">
    <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">Cadastro de Unidade</a></li>
    <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">Cadastro de Família</a></li>
    <li class="nav-item mb-2"><a href="/estoque/cad-produto" class="nav-link p-0 text-muted">Cadastro de Produto</a></li>
    <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">Cadastro de Grupo</a></li>
    <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">Cadastro de Sub-Grupo</a></li>
    <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">Cadastro de Cores</a></li>
  </ul>
</div>
